body {
    color: #512200;
    background-color: aliceblue;
    letter-spacing: 0px;
    font-family: Verdana, Arial ;
    font-size: 20px;
    margin: auto;
    padding: 0px;
    text-align: center;
}

label {
    color:red;
    font-size:12px;
    text-decoration: none;
}

p {
    margin: 0px;
    padding-top: 20px;
}

a {
    color: green;
    text-decoration: none;
}

button {
    display: block;
    letter-spacing: 0px;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 16px;
    background-color: #F0FDEA;
    padding: 8px;
    margin: 5px 5px 5px 50px;
    min-width: 160px;
}

.page_wrapper {
    border: 1px solid black;
    border-radius: 8px;
    margin:auto;
    padding:0;
    min-height: 480px;
    width: 720px;
    background-color: #FFE4B7;
}

form input {
    display: block;
    font-size: 18px;
    border: 2px solid green;
    background-color: #F0FDEA;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    min-width: 230px;
}

.form {
    padding-top: 20px;
    padding-left: 50%;
    margin-left: -125px;
    position: relative;
    width: 250px;
}

.register_form {
    padding-top: 20px;
}

.directions {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 5%;
}

.wrong_login {
    color: #FC1800;
    padding-top: 50px;
    min-height: 32px;
}

.nav {
    margin: 3px 0px 0px 8px;
    padding-top: 15px;
    text-align: left;
    height: 41px;
}

.nav a {
    background-color: #E2B977;
    display: inline;
    border: 1.5px solid green;
    border-radius: 15px 30px 0 0;
    padding: 8px 12px 8px 12px;
}

.nav a.logout {
    display: inline;
    float:right;
    margin: -9px 8px 0 0;
}

a.active {
    background-color: #FFE4B7;
    border-bottom: 2px solid #FFE4B7;
}

.content {
    display: block;
    min-height: 420px;
    padding: 8px;
    margin: -7px 8px 6px 8px;
    background-color: #FFE4B7;
    border: 1px solid black;
    border-radius: 0 0 4px 4px;
}

.add_storage_form {
    display: none;
}

select {
    display: block;
    font-size: 18px;
    color: gray;
    border: 2px solid green;
    background-color: #F0FDEA;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    min-width: 250px;
}

.list {
    text-align: left;
    margin: 8px;
}

.warning p.request_failure {
    color: #FC1800;
}

.warning p.request_success {
    color: green;
}

.add_product_type_form {
    display: none;
}

.list .column {
    display: inline;
}

.list .first_column {
    padding-left: 10px;
}

.list .last_column {
    margin-right: 10px;
    float: right;
}
